* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100vw;
}

/* TOP SECTION OF PAGE */
.top-background {
  position: absolute;
  z-index: -1;
  background-color: yellow;
  height: 500px;
  width: 100%;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 80%);
}

.about-me-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  font-size: 2rem;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.top-container img {
  max-width: 400px;
  width: 100%;
}

.top-name {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  font-size: 3.5rem;
  color: white;
}

.top-portrait {
  position: relative;
  padding: 20px 40px;
}

.social-links-container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-links-container img {
  width: 30px;
}

.about-me-container p {
  width: 100%;
  /* need to fix so text is centered */
}

/* MY WORK SECTION */

.my-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
}

.my-work-text {
  text-align: center;
  font-size: 3rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 500px;

  box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.4);
}

.project-box-heading {
  padding: 20px;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.project-name {
  margin-right: auto;
  font-size: 1.2rem;
}

.project-box-heading img {
  width: 25px;
}

.project-box p {
  padding-left: 10px;
}

.project-screenshot {
  height: 300px;
  width: 100%;
}

/* FOOTER SECTION */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  font-size: 2rem;
  padding: 20px;
  word-wrap: break-word;
}

footer h2:first-of-type {
  text-align: center;
}

.contact-svg {
  width: 20px;
  height: 20px;
}

footer img {
  width: 100%;
}

.footer-links a img {
  width: 30px;
}

footer > p {
  margin-bottom: 100px;
}
